.row.justify-content-center
  .col-12.col-lg-8
    .d-flex.align-items-center.mb-4
      = link_to task_path(@task), class: "btn btn-outline-secondary btn-sm me-3" do
        %i.bi.bi-arrow-left
      %h1.h3.mb-0 Edit Task

    - if @project_inline_edit
      = turbo_frame_tag "edit_task" do
        .card.shadow-sm
          .card-body
            = render "form", task: @task
    - else 
      .card.shadow-sm
        .card-body
          = render "form", task: @task

